{% schema %}
{
  "name": "Features Section",
  "tag": "section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color Scheme"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Section Heading"
    },
    {
      "type": "textarea",
      "id": "subheading",
      "label": "Section Subheading"
    }
  ],
  "blocks": [
    {
      "type": "performance_item",
      "name": "Performance Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon Image"
        },
        {
          "type": "color",
          "id": "icon_border_color",
          "label": "Icon Border"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Item Title"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Item Description"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Performance Philosophy",
      "category": "Custom"
    }
  ]
}
{% endschema %}

<div
  class="tw-py-24 tw-px-6 md:tw-px-12"
  style="background-color: {{ section.settings.color_scheme.settings.background }}; color: {{ section.settings.color_scheme.settings.text }}"
>
  <div class="tw-max-w-[1280px] tw-mx-auto tw-relative tw-pt-8">
    <div class="tw-text-center tw-mb-16">
      <h1 class="tw-text-4xl md:tw-text-5xl tw-font-bold tw-mb-6 tw-tracking-tight">
        {{ section.settings.heading }}
      </h1>
      <p class="tw-text-xl tw-max-w-3xl tw-mx-auto tw-leading-relaxed">
        {{ section.settings.subheading }}
      </p>
    </div>

    <div class="tw-grid tw-grid-cols-1 md:tw-grid-cols-2 lg:tw-grid-cols-4 tw-gap-8 md:tw-gap-16">
      {% for block in section.blocks %}
        <div class="tw-flex tw-flex-col tw-items-center tw-text-center tw-p-6">
          <div
            class="tw-mb-4 tw-flex tw-justify-center tw-items-center tw-w-20 tw-h-20 tw-p-3 tw-rounded-full tw-border-4 tw-border-solid"
            style="border-color: {{ block.settings.icon_border_color }}"
          >
            {% if block.settings.icon != blank %}
              <img
                src="{{ block.settings.icon.src | image_url }}"
                class="tw-w-full"
                alt="{{ block.settings.title }}"
                width=""
                height=""
              >
            {% endif %}
          </div>
          <h3 class="tw-text-xl tw-font-bold tw-mb-3 tw-text-inherit">{{ block.settings.title }}</h3>
          <p>{{ block.settings.description }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
